# Virtual environment
.venv/

# Dataset - do not upload
dataset/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp